@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    font-family: "Fira Code", monospace;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@theme {
    --color-primary-1: #10180e;
    --color-primary-2: #011627;
    --color-primary-3: #011221;

    --color-secondary-1: #607b96;
    --color-secondary-2: #3c9d93;
    --color-secondary-3: #4d5bce;

    --color-accent-1: #fea55f;
    --color-accent-2: #43d9ad;
    --color-accent-3: #e99287;
    --color-accent-4: #c98bdf;
    --color-accent-5: #3a49a4;

    --color-ash: #1e2d3d;
    --color-custom-1: #1c2b3a;

    /*--color-background: var(--background);
    --color-foreground: var(--foreground); */
}

input[type="checkbox"] {
    appearance: none;
    background-color: #607b96;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid inherit;
    border-radius: 0.15em;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #011627;
}

input[type="checkbox"]:checked:before {
    transform: scale(1);
}

iframe {
    width: 1366px;
    transform: scale(0.233) translate(-2248px, -1266px);
    aspect-ratio: 16 / 9;
    border-top-left-radius: 52px;
    border-top-right-radius: 52px;

    position: absolute;
    top: 0;
    left: 0;
}
