@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: "Fira Code", monospace;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

input[type="checkbox"] {
    appearance: none;
    background-color: #607b96;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid inherit;
    border-radius: 0.15em;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #011627;
}

input[type="checkbox"]:checked:before {
    transform: scale(1);
}

iframe {
    width: 1366px;
    transform: scale(0.233) translate(-2248px, -1266px);
    aspect-ratio: 16 / 9;
    border-top-left-radius: 52px;
    border-top-right-radius: 52px;

    position: absolute;
    top: 0;
    left: 0;
}
